/* overlay */


:root {
    --text-head: #FFFFFF;
    --text-main: rgba(255,255,255,0.7);
}


/* full hero */
.hero {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex.column {
    flex-direction: column;
}

.fade {
    animation: fade 0.25s;
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* background */
.bg {
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

/* mica overlay */
.mica {
    backdrop-filter: blur(30px) saturate(150%) brightness(50%);
}


/* text */
h1, h2, h3, h4, h5 {
    font-family: Torus;
    font-weight: 400;
    color: var(--text-head);
}
h1 {
    font-size: 70px;
}
h2 {
    --fixed: 35px !important;
    font-size: 60px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 22px;
}

/* fixed-width text */
.fixed {
    --fixed: 10.5px;
}
.fixed span:not(:is([digit=","],[digit=":"])) {
    width: var(--fixed);
    display: inline-block;
    text-align: center;
}

.spaced {
    letter-spacing: 0.8px;
}
.salt {
    font-feature-settings: 'salt';
}
.strong {
    font-weight: 600;
}


/* music */
.music {
    display: flex;
    padding: 20px;
    gap: 20px;
}
/* cover */
.music .cover {
    --size: 80px;
    width: var(--size);
    height: var(--size);
    overflow: hidden;
}
.music .cover img {
    background-image: url(../img/cover.png);
    background-size: 100%;
    border-radius: 18%;
    width: var(--size);
    height: var(--size);
}
/* info */
.music .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    flex: 1;
}

/* music fullscreen */
.music.full {
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 60px;
}
/* cover */
.music.full .cover {
    --size: 380px;
    width: 100%;
    display: flex;
    justify-content: center;
}
/* info */
.music.full .info {
    gap: 20px;
}